@font-face {
  font-family: 'Sakana';
  src: url('/Sakana.ttf');
}

:root {
  color: #eee;
  font-family: 'Sakana';
  max-height: min-content;
  max-width: fit-content;
  background: rgb(0,0,0);
  background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(60,56,43,1) 81%, rgba(181,181,181,1) 100%);
}

.scoreList{
  background-color: #b4a8a8;
  color: #1f1d1d;
  border: #ffffff solid 5px;
}

.conteiner{
  display: flex;
  width: 100%;
  height: 50%;
  align-items: center;
  gap: 150px;
}

.conteiner h2{
  font-size: 45px;
}

.board {
  
  text-align: center;
  width: 100%;
  height: fit-content;
}

.board h1 {
  font-size: 60px;
  margin: 0.5rem;
  text-shadow: #eee 0 5px 6px;
}

.board button {
  padding: 25px 25px;
  margin: 25px;
  border: 2px solid #eee;
  background-color: #464141;
  font-size: 25px;
  border-radius: 10px;
  transition: 0.2s;
  font-family: 'Sakana';
  cursor: pointer;
  color: #111;
}


.board button:hover {
  background: #c1b8aa; 
}

.logo{
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 30px;
  min-width: 250px;
 }

.colorChance{
  display: flex;
  justify-content: center;
  align-items: center;
}
.turn {
  display: grid;
  justify-content: space-between;
  border-radius: 10px;
  padding: 40px;
  margin: 20px;
  background-color: #b4a8a8;
  border: #ffffff solid 5px;
}

.turn .square,
.winner .square {
  width: 250px;
  height: 200PX;
  padding: auto;
  color:#242424;
  border-color: transparent;
}

.square.color {
  color: #1f1d1d;
  border: 5px solid #eeeeee;
  font-size: 35px;
}

.winner button{
  color: #ffffff;
  background: rgb(216, 122, 14);

}
.winner {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
  background-color: rgba(61, 58, 58, 0.7);
}


.winner .text {
  background: #111;
  height: 50%;
  width: 40%;
  border: 2px solid #eee;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  font-size: 25px;
}
.counter{
  margin: 50px;
}

.winner .win {
  margin: 0 auto;
  width: fit-content;
  border: 2px solid #eee;
  border-radius: 10px;
  display: flex;
  gap: 15px;
}

.square {
  border: 2px solid #eee;
  border-radius: 5px;
  display: grid;
  place-items: center;
  cursor: pointer;
}

@media screen and (max-width: 1260px) {
  .winner .text{
    background: #111;
    height: 75%;
    width: 70%;
    border: 2px solid #eee;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    font-size: 25px;
  }
  .board button {
    padding: 10px 20px;
    margin: 25px;
    border: 2px solid #eee;
    background-color: #eee;
    font-size: 25px;
    width: fit-content;
    border-radius: 10px;
    transition: 0.2s;

    cursor: pointer;
  }

}
